* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

p {
  width: 300px;
  background-color: #222;
  color: #fff;
  height: 80px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #555;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.active {
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}

/* Back button */

.back-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.back-badge .avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #F87171;
  overflow: hidden;
}

.back-badge .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-badge .pointer {
  width: 0;
  height: 0;
  margin-left: 4px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #F87171;
  margin-right: -6px;
}
