body {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --light-c: #dddddd;
  --dark-c: #111;
  --text-shadow: 0px 0px 12px rgba(0,0,0,1);
}

h1 {
  color: orange;
  margin: 4rem 0;
  text-shadow: var(--text-shadow);

}

h1 span {
  background-color: var(--dark-c);
  color: var(--light-c);
  padding: 0.2rem 1rem;
}

label {
  color: var(--light-c)
}

.container {
  margin-top: 3rem;
  padding-top: 8px;
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.8);
}

.element {
  width: 100px;
  height: 100px;
  border: 1px solid var(--dark-c);
  box-shadow: 0 0 10px 1px rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-c);
  text-shadow: var(--text-shadow);
  border-radius: 5px;
}

.element:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px var(--light-c);
}

.text-background {
  background-color: var(--dark-c);
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

.element_text_bkgrnd {
  width: 75px;
  height: 30px;
  background-color: rgba(0,0,0,.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 10 10 0px 5px rgba(0,0,0,.1);
  display: none;
}

.chosen {
  box-shadow: 0 0 5px 2px var(--light-c);
}

#selectColor {
  display: inline-block;
  height: 42px;
  width: 120px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
}

#output {
  margin-top: 1rem;
  color: rgba(200, 200, 200, 0.5);
  text-shadow: var(--text-shadow);
}

/* Back button */

.back-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.back-badge .avatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.4); */
}

.back-badge .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-badge .pointer {
  width: 0;
  height: 0;
  margin-left: 4px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #fff;
  margin-right: -6px;
}
